
.demo h1                        {   margin-bottom: 25px;}
.demo .contenedor .contenido    {   margin-right: 150px;}
a.boton_demo                    {   margin-top: 20px}
div.jMyCarousel                 {   margin-top: 10px; height: 130px !important;}
div.jMyCarousel .prev           {   background: url('images/left.png') center center no-repeat; width:47px; height:61px; border:0px; }
div.jMyCarousel .next           {   background: url('images/right.png') center center no-repeat; width:40px; height:61px; border:0px; }
div.jMyCarousel ul li           {   margin:0px; line-height:0px; padding:0px; }
div.jMyCarousel ul li a         {   display:block; }
div.jMyCarousel ul li img       {   display:block; border:0px; margin: 0px 5px 0px;}
#contenido_galeria              {   position: relative; height: 350px; border-bottom-style: solid;
    border-color: #93C343;}
#contenido_galeria img          {   float: left; width:190px; padding-right: 15px; padding-bottom: 3px;}
#contenido_galeria p            {   width: 306px; position: absolute; top: 0px; left:210px; margin-left: 0px !important;}
.contenido{
	width:500px;	
	
	}


	



